In [1]:
import pandas as pd
import plotly.express as px
import dash
import dash_core_components as dcc
import dash_html_components as html

C:\Users\talento\AppData\Local\Temp\ipykernel_16912\221038820.py:4: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\talento\AppData\Local\Temp\ipykernel_16912\221038820.py:5: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [2]:
#Extraido desde "TALA DEL MANGLAR EN CARTAGENA DE INDIAS, FACTOR DE RIESGO AMBIENTAL, FRENTE A LA CULTURA SOCIAL"
#Tabla 2. Parámetros químicos del suelo.
df_1=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\parametroQuimicoSuelo.xlsx")
df_1

,Estacion,Apique,Muestra,PH,Salinidad PPM,Especie de manglar predominante
0,Zona norte,AP-1,M-1,8.06,1.90,Conocarpus erecta
1,NaN,AP-2,M-1,8.19,2.10,languncularia racemosa
2,NaN,AP-3,M-1,8.23,1.60,NaN
3,Marbella,AP-1,M-1,7.90,1.70,Avicennia germinans
4,NaN,AP-2,M-1,8.01,1.90,rizophora mangle
5,NaN,AP-3,M-1,8.18,1.60,NaN
6,Crespo,AP-1,M-1,7.20,1.60,Avicennia germinans terminalia
7,NaN,AP-2,M-1,7.46,1.50,catappa thespecia populnea
8,NaN,AP-3,M-1,7.56,1.40,NaN
9,Chambacu,AP-1,M-1,9.02,0.34,Avicennia germinans
10,NaN,AP-2,M-1,9.45,0.40,languncularia racemosa prosopis
11,NaN,AP-3,M-1,9.95,0.20,juliflora rizophora mangle
12,Manga,AP-1,M-1,7.08,1.00,Avicennia germinans tabebuia
13,NaN,AP-2,M-1,7.80,1.50,rosea terminalia catappa
14,NaN,AP-3,M-1,7.22,1.70,NaN

In [3]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 4. Resultados de ensayos de laboratorio
df_2=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\ensayosLaboratorio.xlsx")
df_2

,ESTACIÓN,APIQUE,MUESTRA,PROFUNDIDAD NIVEL FREÁTICO (m),HUMEDAD NATURAL %,PESO UNITARIO T/m3,MATERIA ORGÁNICA %
0,NaN,NaN,M-1,NaN,91.6,2.19,11.5
1,NaN,AP-1,M-2,0.36,87.6,2.24,19.0
2,ZONA,NaN,M-1,NaN,85.2,2.15,27.0
3,NORTE,AP-2,M-2,0.60,79.2,2.28,9.5
4,NaN,NaN,M-1,NaN,89.4,2.13,35.5
5,NaN,AP-3,M-2,0.60,76.7,2.13,15.5
6,NaN,NaN,M-1,NaN,89.8,1.98,19.0
7,NaN,AP-1,M-2,0.30,59.5,2.05,21.0
8,NaN,NaN,M-1,NaN,60.5,1.97,30.5
9,CRESPO,AP-2,M-2,0.30,81.8,2.01,15.5
10,NaN,NaN,M-1,NaN,54.8,2.02,28.5
11,NaN,AP-3,M-2,0.24,79.8,2.04,17.5
12,NaN,NaN,M-1,NaN,57.2,2.14,32.5
13,NaN,AP-1,M-2,0.50,69.8,2.01,27.0
14,MARBELLA,NaN,M-1,NaN,63.4,2.11,39.5
15,NaN,AP-2,M-2,0.30,78.6,2.02,21.5
16,NaN,NaN,M-1,NaN,59.2,2.18,40.5
17,NaN,AP-3,M-2,0.40,70.4,2.14,29.5
18,NaN,AP-1,M-1,NaN,76.4,2.20,24.5
19,NaN,NaN,M-2,0.50,78.3,2.07,28.0
20,CHAMBACÚ,AP-2,M-1,0.60,63.9,2.36,23.5
21,NaN,NaN,M-2,NaN,85.5,2.31,31.5
22,NaN,NaN,M-1,NaN,70.9,2.27,29.5
23,NaN,AP-3,M-2,0.40,92.3,1.95,76.5
24,NaN,NaN,M-3,NaN,96.5,1.99,65.5
25,NaN,NaN,M-1,NaN,56.7,2.01,26.0
26,NaN,AP-1,M-2,0.35,80.8,1.82,51.5
27,MANGA,NaN,M-1,NaN,84.5,1.76,55.5
28,NaN,AP-2,M-2,0.28,89.4,1.85,63.5
29,NaN,NaN,M-1,NaN,76.7,1.83,60.5
30,NaN,AP-3,M-2,0.35,88.7,1.79,69.5

In [4]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 5. Parámetros Químicos del suelo
df_3=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\parametrosQuimicosSuelo2010.xlsx")
df_3

,ESTACION,APIQUE,MUESTRA,pH,SALINIDAD ppM,Especie de Manglar predominante
0,NaN,AP-1,M-1,8.06,1.90,• Conocarpus erecta
1,NaN,AP-2,M-1,8.19,2.10,• Laguncularia racemosa
2,Zona Norte,AP-3,M-1,8.23,1.60,NaN
3,NaN,AP-1,M-1,7.90,1.70,• Avicennia germinans
4,Crespo,AP-2,M-1,8.01,1.90,• Rizophora mangle
5,NaN,AP-3,M-1,8.18,1.60,NaN
6,NaN,AP-1,M-1,7.20,1.60,• Avicennia germinans
7,Marbella,AP-2,M-1,7.46,1.50,• Terminalia catappa
8,NaN,AP-3,M-1,7.56,1.40,• Thespesia populnea
9,NaN,AP-1,M-1,9.02,0.34,• Avicennia germinans
10,NaN,AP-2,M-1,9.45,0.40,• Laguncularia racemosa
11,Chambacú,AP-3,M-1,8.95,0.20,• Prosopis juliflora • Rizophora mangle
12,NaN,AP-1,M-1,7.08,1.00,• Avicennia germinans
13,Manga,AP-2,M-1,7.80,1.50,• Tabebuia rosea
14,NaN,AP-3,M-1,7.22,1.70,• Terminalia catappa

In [5]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 8. Dominancia y abundancia del manglar en el sector de Manga
df_4=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\biomasaDominanciaAbundancia.xlsx")
df_4

,ESPECIE,Dominancia,Abundancia,Frecuencia relativa,Índice de valor
0,Avicennia germinans,34.07,88.46,100,223
1,Terminalia catappa,9.52,3.84,100,113
2,Tabebuia rosea,79.79,7.69,100,187

In [6]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 9. Dominancia y abundancia del manglar en el sector Zona Norte
df_5=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\dominanciaZonaNorte.xlsx")
df_5

,ESPECIE,Dominancia,Abundancia,Frecuencia relativa,Índice de valor
0,Laguncularia racemosa,81.17,84.13,100,265.3
1,Conocarpus erecta,18.96,15.87,100,134.8

In [7]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 10.Dominancia y abundancia del manglar en el sector Marbella
df_6=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\dominanciaMarbella.xlsx")
df_6

,ESPECIE,Dominancia,Abundancia,Frecuencia relativa,Índice de valor
0,Avicennia germinans,58.20,42.10,100,200.3
1,Terminalia catappa,7.83,21.05,100,128.9
2,Thespesia populnea,3.41,36.84,100,140.3

In [8]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 11. Dominancia y abundancia del manglar en el sector Crespo
df_7=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\dominanciaCrespo.xlsx")
df_7

,ESPECIE,Dominancia,Abundancia,Frecuencia relativa,Índice de valor
0,Avicennia germinans,5637.00,11.76,100,200.3
1,Rizophora mangle,94.36,88.23,100,128.9

In [9]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 12. Dominancia y abundancia del manglar en el sector Chambacú
df_8=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\dominanciaChambacú.xlsx")
df_8

,ESPECIE,Dominancia,Abundancia,Frecuencia relativa,Índice de valor
0,Avicennia germinans,62.67,63.60,100,226.27
1,Prosopis juliflora,25699.00,18.18,100,143.88
2,Rizophora mangle,8.54,9.09,100,117.63
3,Laguncularia racemosa,3.07,9.09,100,112.16

In [10]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 13. Dominancia y abundancia del manglar en el sector Cabrero
df_9=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\dominanciaCabrero.xlsx")
df_9

,ESPECIE,Dominancia,Abundancia,Frecuencia relativa,Índice de valor
0,Prosopis juliflora,23.27,14.28,100,137.55
1,Laguncularia racemosa,76.72,85.70,100,262.42

In [11]:
#Extraido desde MANGLES DE CARTAGENA DE INDIAS: "PATRIMONIO BIOLÓGICO Y FUENTE DE BIODIVERSIDAD"
#Tabla 14. Características estructurales del manglar en el área urbana de Cartagena
df_10=pd.read_excel("C:\\Users\\talento\\Downloads\\Nuevo Enfoque Datos\\características.xlsx")
df_10

         ZONA  N(ind/ha)  H(m)  D(cm)  N° especies arbóreas
0       MANGA       3250  3.38   21.6                     3
1  ZONA NORTE       7875  2.38   23.6                     3
2    MARBELLA       2375  4.12   33.1                     3
3      CRESPO       2125  4.40   40.8                     2
4    CHAMBACÚ       1375  4.50   40.3                     4
5     CABRERO        875  4.40   27.0                     2